<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editing an article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="Blogs/header :: header"></header>

<div class="container, mt-5 mb-5">
    <h1>Editing an article</h1>
    <div th:each="el : ${post}">
    <form method="post">
        <input type="text" th:value="${el.title}" name="title" placeholder="Enter the title of the article" class="form-control"><br>
        <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter the anons of the article" class="form-control"><br>
        <textarea name="full_text"  placeholder="Enter the full text of the article" class="form-control" th:text="${el.anons}"/><br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
        </div>
</div>

<div th:insert="Blogs/flooter :: footer"></div>

</body>
</html>